/* Global CSS styles */
/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scrolling */
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Arial", sans-serif;
  max-width: 100vw;
  max-height: 100vh;
}
.animate-spin {
  animation: spin 2s linear infinite; /* Adjust duration as needed */
}

.main {
  margin-top: 94px;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  color: white;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out forwards;
}

.animate-bounce {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.testimonial-enter {
  opacity: 0;
  transform: translateX(100%);
}
.testimonial-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 500ms ease, transform 500ms ease;
}
.testimonial-exit {
  opacity: 1;
  transform: translateX(0);
}
.testimonial-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 500ms ease, transform 500ms ease;
}

/* globals.css or tailwind.css */
.blur-edges {
  position: relative;
  overflow: hidden;
}

.blur-edges::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
  filter: blur(10px);
  pointer-events: none;
}
